				<%# 네비게이션 바 바로 밑의 오늘 마감 상품 광고 nav_goods의 데이터 사용 %>
		<div class="main-add" style="background: #FFFFFF;">
			<div class="row" style="padding: 2%; margin: 0px ">
			 
				<div class="col-3">
					<img src="/img/today_product.png" style="width:100%; height: auto;">
				</div>
				<% nav_goods.goo.forEach(function(item){ %>
				<div class="col-2">
						<img src=<%=item.link%> style="width:70%; height: auto;">
						<p><%=item.name%></p>
				</div>
				<% }) %>
				<div class="col-1"> 
				</div>
				
			</div>
		</div>
				<%# 상품 페이지 1행 main_good1의 데이터 사용%>
		<div class="row" style="padding: 2%; margin: 0px ">
		<% main_good1.goo.forEach(function(item){ %>
		  <div class="col-3 product">
			  <img src=<%=item.link%> style="width:90%;">
			  <p/>
			  <p><%=item.name%></p>
			  <p><%=item.goal_coin%> 원</p>
			  <p><%=item.limit_time%>/<%=item.participation%></p>
			  <div style="text-align:center;">
				<button type="button" class="btn">응모하기</button>
			  </div>
		  </div>
 		<%})%>
		</div>
				<%# 상품 페이지 2행 main_good2의 데이터 사용%>
		<div class="row " style="padding: 2%; margin: 0px ">
		  		<% main_good2.goo.forEach(function(item){ %>
		  <div class="col-3 product">
			  <img src=<%=item.link%> style="width:90%;">
			  <p/>
			  <p><%=item.name%></p>
			  <p><%=item.goal_coin%> 원</p>
			  <p><%=item.limit_time%>/<%=item.participation%></p>
			  <div style="text-align:center;">
				<button type="button" class="btn">응모하기</button>
			  </div>
		  </div>
 		<%})%>
		</div>
		