<%
	const calcTime=(results)=>{
    	const leftTime=new Array();
    	const currentTime=new Date();   //UTC현재 시간

    	//*UTC시간을 그냥 문자열로 바꾸면 KST시간으로 자동으로 바뀐다. 주의가 필요!!!
    	results.forEach((item)=>{
        	let endTime=new Date(item.time_year, item.time_month-1, item.time_day-1,
            	item.time_hour, item.time_minute); //UTC끝나는 시간-1일
    
        	//console.log(new Date(endTime-currentTime).toUTCString());   //UTC시간으로 문자열 변환
			const temp=new Date(endTime-currentTime).toUTCString().split(' ');

			leftTime.push(temp[1]+':'+temp[4].substring(0, 5));
    	});
		
		//console.log('left : ', leftTime);
		return leftTime;
	}

	let leftTime=calcTime(goodslist);
%>
<h1 style="margin:20px;" class="display-3">상품등록</h1>

<h3 style="margin:20px;" class="display-4 text-muted">내 상품 조회</h3>

<% goodslist.forEach(function(item, i){ %>
    <div class="main-add" style="background: #FFFFFF; margin:20px; padding:10px;">
        <div class="row" style="height:275px">
                <div class="col-2 product">
 					<%img='/img/goods/'+item.goo_img%>
					<img src=<%=img%> style="max-width:90%; max-height:200px">
                </div>
                <div class="col-6 product text-left">
                    <p>상품명 : <%=item.goo_name%></p>
                    <p>목표가격 : <%=item.goal_price%> 원</p>
				<%if(item.status=='active'){%>
                    <p><%=leftTime[i].split(':')[0]%>일 <%=leftTime[i].split(':')[1]%>시간 <%=leftTime[i].split(':')[2]%>분 남음</p>
		 	<p>상세정보 : <div class="card" style="padding=2%"><div class="card-body"><%=item.goo_info%></div></div></p>
                </div>
			<div class="col"><br>
				     <p class="btn">누적금액 : <%=item.gain_coin%></p><br><br>
					<%temp_url = '/mygoods/put/'+item.goo_id%>
					<form action=<%=temp_url%>  method="post">
  						<input type='submit' class="btn" value='정보 수정'/>
					</form><br>

					<%temp_url = '/mygoods/delete/'+item.goo_id%>
					<form action=<%=temp_url%>  method="post">
  						<input type='submit' class="btn" value='판매취소'/>
					</form>


			</div>
        		<%}else{%>
        		 <p>응모 마감</p>
                </div>
			<div class="col"><br>
				     <p class="btn">누적금액 : <%=item.gain_coin%></p><br><br>
					<form action='/mygoods/shipment'  method="post">
  						<input type='hidden' class="btn" name='goo_ship' value=<%=item.goo_id%>>

  						<input type='submit' class="btn" value='운송장 번호 입력'/>

					</form>
			</div>
			<%}%>
        </div>
    </div>
<%})%>