<script type="text/javascript" src="/javascript/calcTime.js"></script>

<div class="main-add" style="background: #FFFFFF;">
	<div class="row" style="padding: 2%; margin: 0px "> 
		<div class="col-3">
			<img src="/img/today_product.png" style="width:100%; height: auto;">
		</div>
		<div class="col-1"> 
		</div>
	</div>
</div>

<%# 상품 페이지 1행 main_good1의 데이터 사용%>
<div class="row" style="padding: 2%; margin: 0px ">
	<% goodslist.forEach(function(item, i){ %>
		<div class="col-3 product">
			<div style="height:300px; text-align: center;">
				<%img='/img/goods/'+item.goo_img%>
			   <img src=<%=img%> style="max-width:90%; max-height:100% ">
			</div>
			<p><%=item.goo_name%></p>
			<p><%=item.goal_price%> 원</p>
			<p id=<%=item.goo_id%>></p>
			<%for(let i=0;i<attend.length;i++){
                if(attend[i].id==item.goo_id){%>
                    <p><%=attend[i].buyers.length%>명 참가 중</p>
                    <%break;
                } else if(i==(attend.length-1)){%>
                    <p>0명 참가 중</p>
                <%}
            }%>
			<div style="text-align:center;">
				<button type="button" class="btn">응모하기</button>
			</div>
		</div>
 	<%})%>
</div>


	