<style>
.table-condensed{
        font-size: 15px;
    }
</style>
    
<br/><br/><br/>
<div class="row" style="padding-left: 60px; padding-right: 60px;">
    <div class="col-8">
        <h4 class="Fhandon">회원등급 변경</h4>
    </div>
</div>
<br/>

<div class="row" style="padding-left: 60px; padding-right: 60px;">
    <div>
        <table class="table table-hover table-condensed" id="userTable">
            <thead>
                <tr>
                    <th style="width: 120px">이름</th>
                    <th style="width: 120px">아이디</th>
                    <th style="width: 140px">비밀번호</th>
                    <th style="width: 260px">이메일</th>
                    <th style="width: 140px">전화번호</th>
                    <th style="width: 140px">생년월일</th>
                    <th style="width: 780px">도로명주소</th>
                    <th style="width: 260px">상세주소</th>
                    <th style="width: 110px">코인수</th>
                    <th style="width: 150px">등급</th>
                    <th style="width: 100px">상태</th>
                </tr>
            </thead>

            <tbody>
<% mem_info.forEach(function(item, i){ %>
            <form name="control_level" method=post action="/admin/user_manage/control_level">
                    <tr>
                        <td><%=item.mem_name%></td>
                        <td>
                            <%=item.mem_id%>
                            <input type="hidden" name="id" value="<%=item.mem_id%>">
                        </td>
                        <td><%=item.mem_pass%></td>
                        <td><%=item.mem_email%></td>
                        <td><%=item.mem_phone%></td>
                        <td><%=item.mem_bday%></td>
                        <td><%=item.mem_addr1%></td>
                        <td><%=item.mem_addr2%></td>
                        <td><%=item.coin%></td>
                        <td>
                            <select name="level">
                                <option value="<%=item.level%>" selected="selected"><%=item.level%></option>
                                <option value="silver">silver</option>
                                <option value="gold">gold</option>
                            </select>
                            <input type="image" src="/img/edit-line.png" alt="변경하기" style="width: 15px;">
                        </td>
                        <td><%=item.status%></td>
                    </tr>
            </form>
<% }) %>
            </tbody>
        </table>
    </div>
    <br/><br/>
</div>
