   <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
 <% goodslist.forEach(function(item, i){
var chartid='chart'+i;
var chartDD=chartid+'draw'
for(let j=0;j<userdeal.length;j++){

if(userdeal[j].goo_id==item.goo_id){
for(let k=0;k<total.length;k++){

if(userdeal[j].goo_id==total[k].goo_id){
 var temp = total[k].total-userdeal[j].invest;
	if(temp<0){ temp=0;}
 %>

      var <%=chartDD%> = function () {
        var data = google.visualization.arrayToDataTable([
          ['당첨', '응모비율'],
          ['당첨자', <%=userdeal[j].invest%>],
          ['others',<%=temp%>],
        ]);

        var options = {
	  'chartArea': {'width': '100%', 'height': '90%'},
          pieHole: 0.4,
	backgroundColor: { fill:'transparent' },
   	colors: ['88BCE1', 'cccccc'], 
                fontName: 'Handon3gyeopsal300g',
                fontSize: 14,
           pieSliceTextStyle: {
            color: 'black',
          }

        };

        var chart = new google.visualization.PieChart(document.getElementById('<%=chartid%>'));
        chart.draw(data, options);
      }
      google.charts.setOnLoadCallback(<%=chartDD%>);
 
<%}}}}})%>
</script>
<br><br><br>
    <div class="product_chart">
        <div class="row">
            <table class="table table-hover">
                <h4 class="Fhandon" style="padding-left: 20px;">이번주차 당첨결과</h4>
                <tbody>
	<% goodslist.forEach(function(item, i){ %>
			<%for(let m=0;m<userdeal.length;m++){
                	if(userdeal[m].goo_id==item.goo_id){%>

	
			<%var chartid='chart'+i;%>
                    <tr><%img='/img/goods/'+item.goo_img%>
                        <td style="text-align: center;"><img class="cropping" src=<%=img%> alt="Card image">
           		 <p style="padding-top: 5px;"><%=item.goo_name%></p>
                        </td>
                        <td>

                           <p style="padding:0px; margin:0px;"><i class="ri-archive-line"></i> 상품번호 : <%=item.goo_id%></p>
 
  			<%for(let i=0;i<total.length;i++){
                	if(total[i].goo_id==item.goo_id){%>
                    	 <p style="padding:0px; margin:0px;"><i class="ri-wallet-fill"></i> <%=total[i].total%>원 적립</p>
                    		<%break;} else if(i==(total.length-1)){%>
                    	 	<p style="padding:0px; margin:0px;"><i class="ri-wallet-fill"></i> 0원 적립</p>
                		<%}}%>
 
                            <p style="padding:0px; margin:0px;"><i class="ri-account-box-line"></i> 판매자 : <%=item.mem_id%></p>
			<%for(let i=0;i<userdeal.length;i++){
                	if(userdeal[i].goo_id==item.goo_id){%>
                    	 <p style="padding:0px; margin:0px;"><i class="ri-trophy-line"></i> 당첨자 : <%=userdeal[i].buyer_id%></p>
                    		<%break;} else if(i==(userdeal.length-1)){%>
                    		 <p style="padding:0px; margin:0px;"><i class="ri-trophy-line"></i> 당첨자 없음</p>
                		<%}}%>

 
 
                        </td>
                        <td style="width: 30%; "><%=item.goo_info%>
                        </td>

			<td style="width: 450px; "><div id="<%=chartid%>" style="width: 350px; height: 160px;"></div>
			</td>

                    </tr>

 
 	<%}}})%>
                </tbody>
            </table>
        </div>
    </div>

