<script type="text/javascript" src="/javascript/calcTime.js"></script>
	<% goodslist.forEach(function(item, i){ if(item.status=='finish'){%>
 		<%var modalid='modal'+item.goo_id%>
  <!-- The Modal -->
  <div class="modal" id="<%=modalid%>">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title Fdo">Hidden<b style="color: #80BCE1">100</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
        <!-- Modal body -->
        <div class="modal-body"> 
                    <p>운송장 번호 입력</p>
		<form action="/mygoods/shipment/post" method="post" >
 <input type='hidden' class="btn" style="font-size: 150%;" name='goo_ship' value=<%=item.goo_id%>>


	<input type="text" class="form-control"  name="goo_shipment" placeholder="택배회사:운송장번호" required>
		<br>
			 <input type="submit"  class="btn form-control" value="번호 입력" >
		</form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-b" data-dismiss="modal">닫기</button>
        </div>
        
      </div>
    </div>
  </div>

 <%}})%>
    <div class="product_chart" style="padding-top:60px;">
        <div class="row">
            <table class="table table-hover">
                <h4 class="Fhandon" style="padding-left: 20px;">내 상품 조회</h4>
                <tbody>
	<% goodslist.forEach(function(item, i){ %>
                    <tr><%img='/img/goods/'+item.goo_img%>
                        <td style="text-align: center;"><img class="cropping" src=<%=img%> alt="Card image">
           		 <p style="padding-top: 5px;"><%=item.goo_name%></p>
                        </td>
                        <td>

                           <p style="padding:0px; margin:0px;"><i class="ri-archive-line"></i> 상품번호 : <%=item.goo_id%></p>
                            <p  style="padding:0px; margin:0px;"><i class="ri-wallet-line"></i> <%=item.goal_price%> 원 목표</p>
                          
            <div class="row " style="padding:0px; margin: 0px;"><i class="ri-timer-line"></i>&nbsp; <p class="" id=<%=item.goo_id%>></p></div>
                        </td>
 
                        <td style="width: 40%;"><%=item.goo_info%>
                        </td>
			<td style="text-align:center">
<%if(item.status=='active'){%>
 
			<div class="col">
				     <p class="btn btn-b">누적금액 : <%=item.gain_coin%></p><br>
					<%temp_url = '/mygoods/put/'+item.goo_id%>
					<%if(item.status!='finish'||item.status!='fail'){%>
					<form action=<%=temp_url%>  method="post">
  						<input type='submit' class="btn btn-b" value='정보 수정'/>
					</form><br>
					<%temp_url = '/mygoods/delete/'+item.goo_id%>
					<form action=<%=temp_url%>  method="post">
  						<input type='submit' class="btn btn-b" value='판매취소'/>
					</form>
					<%}%>

			</div>
        		<%}else{%>
        	
                </div>
			<div class="col"> 
					 <p class="btn btn-b">누적금액 : <%=item.gain_coin%></p><br> 
					<%if(item.status=='finish'){%>


	 
		<%var modalid='modal'+item.goo_id%>	
				
  <a data-toggle="modal" data-target="#<%=modalid%>"  class="btn btn-b">운송장 번호 입력</a>
 


					<%}else if(item.status=='canceled'){%>
						<input type='button' class="btn btn-b" value="취소됨"/>
					<%}else{%>
						<input type='button' class="btn btn-b" value='목표금액 도달 실패!'/>
						<%}%>
			</div>
			<%}%>

			</td>

                    </tr>
 
 
 	<%})%>
                </tbody>
            </table>
        </div>
    </div>
	

 