			<br><br>
 		<div>
			<form action="/mygoods/putt/up" method="post" enctype="multipart/form-data">
  						<input type='hidden' class="btn" name='goo_id' id='goo_id' value=<%=goo_id%>>
				<div class="row" style="margin: 0px">
			  		<div class="col-2"><br></div>
					<div class="col-8 main-add" style="padding: 10px;">
	  					<div class="row"><br></div>
	  					<div class="row"><br></div>
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-2">
								상품명 : 
				  			</div>
				  			<div class="custom-file col-6">
								<input type="text" class="form-control" id="goo_name"  name="goo_name" value="<%=goods_info.goo_name%>" required>
				  			</div>
				  			<div class="col-2"><br></div>
						</div>
		  				<div class="row"><br></div>
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-8">
								<select name="goo_type" class="custom-select custom-select mb-3" required>
									  <option value="<%=goods_info.goo_type%>" selected>기존 카테고리 유지</option>
									  <option value="clothes" selecte>의류/잡화</option>
									  <option value="makeup" selecte>메이크업</option>
									  <option value="digital" selecte>가전디지털</option>
									  <option value="furniture" selecte>가구</option>


								</select>
				  			</div>
				  			<div class="col-2"><br></div>
						</div>
		  				<div class="row"><br></div>
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-2">
								목표금액 : 
				  			</div>
				  			<div class="custom-file col-6">
								<input type="text" class="form-control" id="goal_price" name="goal_price" value=<%=goods_info.goal_price%> required readonly>
				  			</div>
				  			<div class="col-2"><br></div>
						</div>
		  				<div class="row"><br></div>
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-2">
								마감일 : 
				  			</div>
				  			<div class="custom-file col">
								    <select name="time_year" class="custom-select custom-select-sm mb-3" required>
									  <option value=<%=goods_info.time_year%> selected><%=goods_info.time_year%></option>
 
									</select>
				  			</div>
				  			<div class="custom-file col">
								    <select name="time_month" class="custom-select custom-select-sm mb-3" required>
									  <option value=<%=goods_info.time_month%> selected><%=goods_info.time_month%></option>
 
									</select>
				  			</div>
				  			<div class="custom-file col">
								    <select name="time_day" class="custom-select custom-select-sm mb-3" required>
									  <option value=<%=goods_info.time_day%> selected><%=goods_info.time_day%></option>
 
									</select>
				  			</div>
				  			<div class="custom-file col">
								    <select name="time_hour" class="custom-select custom-select-sm mb-3" required>
									  <option value=<%=goods_info.time_hour%> selected><%=goods_info.time_hour%></option>
 
									</select>
				  			</div>
				  			<div class="custom-file col">
								    <select name="time_minute" class="custom-select custom-select-sm mb-3" required>
									  <option value=<%=goods_info.time_minute%> selected><%=goods_info.time_minute%></option>
 
									</select>
				  			</div>
				  			<div class="col-2"><br></div>
						</div>
		  				<div class="row"><br></div>
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-8">
								<input type="file" class="custom-file-input" id="goo_img" name="goo_img" value=<%=goods_info.goo_img%> required>
								<label class="custom-file-label" for="goo_img" >이미지를 다시 업로드해주세요.</label>
				  			</div>
				  			<div class="col-2"><br></div>
						</div> 

		  				<div class="row"><br></div>
 
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-2">
								<label for="comment">상세정보 : </label></div>
				  			<div class="col-2"><br></div>
						</div> 
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-8">
								<textarea class="form-control" rows="5" id="goo_info" name="goo_info" value="<%=goods_info.goo_info%>" required><%=goods_info.goo_info%></textarea>				  			</div>
				  			<div class="col-2"><br></div>
						</div> 
		  				<div class="row"><br><br><br><br><br><br></div>

		  				<div class="row">
							<div class="col-8"><br></div>
							<div class="col-4"><input class="btn" style="font-size: 110%; " type="submit" value="상품수정" ></div>

		  				</div>
						<br>
				  	</div>
				  	<div class="col-2"><br></div>
				</div>


			</form>
    
 		</div>
		<script>
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function() {
		  var fileName = $(this).val().split("\\").pop();
		  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
		</script>
<br><br>