<%

var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
var hh = today.getHours();
var min = today.getMinutes();


%>

			<br><br>
 				<div class="row" style="margin: 0px">
			  		<div class="col-2"><br></div>
					<div class="col-8" style="padding: 10px; text-align:left;">  
						 <h4 class="Fhandon" style="padding-left: 20px;">내 상품 등록 <a href="/mygoods/goodslist"><small>내 상품 조회</small></a></h4></div>
			  		<div class="col-2"><br></div>

				</div>

 		<div>

			<form action="/mygoods/post" method="post" enctype="multipart/form-data">
				<div class="row" style="margin: 0px">
			  		<div class="col-2"><br></div>
					<div class="col-8 main-add" style="padding: 10px; text-align:center;">
	  					<div class="row"><br></div>
	  					<div class="row"><br></div>
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="col-2">
								상품이름 : 
				  			</div>
				  			<div class="custom-file col-6">
								<input type="text" class="form-control" id="goo_name"  name="goo_name" required>
				  			</div>
				  			<div class="col-2"><br></div>
						</div>
		  				<div class="row"><br></div>
		  				<div class="row">
			  				<div class="col-2"><br></div>
			  				<div class="col-2">상품종류 : </div>
							<div class="custom-file col-6">
								<select name="goo_type" class="custom-select custom-select mb-3" required>
									  <option value="" selecte>상품종류</option>
									  <option value="clothes" selecte>의류/잡화</option>
									  <option value="makeup" selecte>메이크업</option>
									  <option value="digital" selecte>가전디지털</option>
									  <option value="furniture" selecte>가구</option>
									  <option value="others" selecte>기타</option>


								</select>
				  			</div>
				  			<div class="col-2"><br></div>
						</div>
		  				<div class="row"><br></div>
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-2">
								목표금액 : 
				  			</div>
				  			<div class="custom-file col-6">
								<input type="text" class="form-control" id="goal_price" name="goal_price" required>
				  			</div>
				  			<div class="col-2"><br></div>
						</div>
		  				<div class="row"><br></div>
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-2">
								마감일시 : 
				  			</div>
				  			<div class="custom-file col">
								    <select name="time_year" class="custom-select custom-select-sm mb-3" required>
									  <option value="" selected>연</option>
										<%for(var i = 2019; i<2022; i++){%>
										<%if(i==yyyy){%>
									  		<option value=<%=i%> selected><%=i%></option>
										
										<%}else{%>
									  		<option value=<%=i%>><%=i%></option>
										
										<%}}%>

									</select>
				  			</div>
				  			<div class="custom-file col">
								    <select name="time_month" class="custom-select custom-select-sm mb-3" required>
									  <option value="" selected>월</option>
										<%for(var i = 1; i<13; i++){%>
										<%if(i==mm){%>
									  		<option value=<%=i%> selected><%=i%></option>
										
										<%}else{%>
									  		<option value=<%=i%>><%=i%></option>
										
										<%}}%>
									</select>
				  			</div>
				  			<div class="custom-file col">
								    <select name="time_day" class="custom-select custom-select-sm mb-3" required>
									  <option value="" selected>일</option>
										<%for(var i = 1; i<32; i++){%>
										<%if(i==dd){%>
									  		<option value=<%=i%> selected><%=i%></option>
										
										<%}else{%>
									  		<option value=<%=i%>><%=i%></option>
										
										<%}}%>
									</select>
				  			</div>
				  			<div class="custom-file col">
								    <select name="time_hour" class="custom-select custom-select-sm mb-3" required>
									  <option value="" selected>시</option>
										<%for(var i = 0; i<24; i++){%>
										<%if(i==hh){%>
									  		<option value=<%=i%> selected><%=i%></option>
										
										<%}else{%>
									  		<option value=<%=i%>><%=i%></option>
										
										<%}}%>
									</select>
				  			</div>
				  			<div class="custom-file col">
								    <select name="time_minute" class="custom-select custom-select-sm mb-3" required>
									  <option value="" selected>분</option>
										<%for(var i = 0; i<60; i++){%>
										<%if(i==min){%>
									  		<option value=<%=i%> selected><%=i%></option>
										
										<%}else{%>
									  		<option value=<%=i%>><%=i%></option>
										
										<%}}%>
									</select>
				  			</div>
				  			<div class="col-2"><br></div>
						</div>
		  				<div class="row"><br></div>
		  				<div class="row">
			  				<div class="col-2"><br></div>
			  				<div class="col-2">상품사진 : </div>
							<div class="custom-file col-6">
								<input type="file" class="custom-file-input" id="goo_img" name="goo_img" required>
								<label class="custom-file-label" for="goo_img">중고 상품의 이미지를 올려주세요.</label>
				  			</div>
				  			<div class="col-2"><br></div>
						</div> 

		  				<div class="row"><br></div>
 
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-2">
								<label for="comment">상세정보 : </label></div>
				  			<div class="col-2"><br></div>
						</div> 
		  				<div class="row">
			  				<div class="col-2"><br></div>
							<div class="custom-file col-8" >
								<textarea class="form-control" rows="5" id="goo_info" name="goo_info" placeholder="ex) &#10; 구매일시 : &#10; 사용기간 : &#10; 상태 : (S-포장을 풀지 않음, A-사용한 흔적이 거의 없음, B-사용한 흔적이 있으나 성능에 문제 없음, C-사용한 흔적이 크거나 성능에 약간 문제가 있음)&#10;" required></textarea>				  			</div>
				  			<div class="col-2"><br></div>
						</div> 
		  				<div class="row"><br><br><br><br><br><br></div>

		  				<div class="row">
							<div class="col-6"><br></div>
							<div class="col-4"><input class="btn" style="font-size: 110%; " type="submit" value="상품등록"></div>
							<div class="col-2"><br></div>


		  				</div>
						<br>
				  	</div>
				  	<div class="col-2"><br></div>
				</div>


			</form>
    
 		</div>
		<script>
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function() {
		  var fileName = $(this).val().split("\\").pop();
		  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
		</script>
<br><br>