<script type="text/javascript" src="/javascript/calcTime.js"></script>

<div class="card-columns product">

   <% goodslist.forEach(function(item, i){ %>
    <div class="card">
        <%img='/img/goods/'+item.goo_img%>
        <img class="card-img-top" src=<%=img%> alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title"><%=item.goo_name%></h4>
 
            <%for(let i=0;i<attend.length;i++){
                if(attend[i].id==item.goo_id){%>
            <p class="card-text"><i class="ri-group-2-line"></i> <%=attend[i].buyers.length%>명 참가 중</p>
            <%break;
                } else if(i==(attend.length-1)){%>
            <p class="card-text"><i class="ri-group-2-line"></i> 0명 참가 중</p>
            <%}
            }%>
            <div class="row card-text" style="padding:0px; margin: 0px;"><i class="ri-timer-line"></i>&nbsp;<p id="<%=item.goo_id%>"></p></div>
            <a href="/apply/getApply?item=<%=item.goo_id%>" class=" stretched-link"></a>
        </div>
    </div>
    <%})%>
</div>
    
