			<br><br>
 				<div class="row" style="margin: 0px">
			  		<div class="col-2"><br></div>
					<div class="col-8" style="padding: 10px; text-align:left;">  
						 <h4 class="Fhandon" style="padding-left: 20px;">신고 작성</h4></div>
			  		<div class="col-2"><br></div>

				</div>

<div>
    <form action="/userdeal/report/post" method="post" enctype="multipart/form-data">
        <input type="hidden" name="buyer_id" id="id" value="<%=info[0].buyer_id%>">
        <input type="hidden" name="seller_id" value="<%=info[0].seller_id%>">
        <input type="hidden" name="goo_id" value="<%=info[0].goo_id%>">
        <input type="hidden" name="goo_name" value="<%=info[0].goo_name%>">
        <div class="row" style="margin: 0px">
            <div class="col-2"><br></div>
            <div class="col-8 main-add" style="padding: 10px;">
                <div class="row"><br></div>
                <div class="row"><br></div>
                <div class="row">
                    <div class="col-2"><br></div>
                    <div class="custom-file col-2" style="text-align: left;">
                        상품명 : 
                    </div>
                    <div class="col-4">
                        <%=info[0].goo_name%>
                    </div>
                    <div class="col-2"><br></div>
                </div>
                <div class="row">
                    <div class="col-2"><br></div>
                    <div class="custom-file col-2" style="text-align: left;">
                        상품 종류 : 
                    </div>
                    <div class="col-4">
                        <%=info[0].goo_type%>
                    </div>
                    <div class="col-2"><br></div>
                </div>
                <div class="row">
                    <div class="col-2"><br></div>
                    <div class="custom-file col-2" style="text-align: left;">
                        판매자 : 
                    </div>
                    <div class="col-4">
                        <%=info[0].seller_id%>
                    </div>
                    <div class="col-2"><br></div>
                </div>
                <div class="row">
                    <div class="col-2"><br></div>
                    <div class="custom-file col-8">
                        <input type="file" class="custom-file-input" id="goo_img" name="goo_img" required>
                        <label class="custom-file-label" for="goo_img">중고 상품의 이미지를 첨부해주세요.</label>
                    </div>
                    <div class="col-2"><br></div>
                </div>
                <div class="row"><br></div>
                <div class="row">
                    <div class="col-2"><br></div>
                    <div class="custom-file col-1" style="text-align: left;">
                        제목 : 
                    </div>
                    <div class="custom-file col-7">
                        <input type="text" class="form-control" name="subject" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"><br></div>
                    <div class="custom-file col-3" style="text-align: left;">
                        <label for="comment">신고내용 : </label>
                    </div>
                    <div class="col-2"><br></div>
                </div>
                <div class="row">
                    <div class="col-2"><br></div>
                    <div class="custom-file col-8">
                        <textarea class="form-control" rows="5" id="goo_info" name="goo_info" required></textarea>				  			</div>
                    <div class="col-2"><br></div>
                </div> 
                <div class="row"><br><br><br><br><br><br></div>
                <div class="row">
                    <div class="col-9"><br></div>
                    <button type="submit" class="btn">신고하기</button>
                </div>
                <br>
            </div>
        </div>
    </form>
</div>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>