
<body>
  <script>
$(document).ready(function(){
    $("#AdminOn").change(function(){
        if($("#AdminOn").is(":checked")){
            $("#signForm").attr("action", "/admin/admins/auth");
        }else{
            $("#signForm").attr("action", "/users/auth");
        }
    });
});
</script>
  <!-- The Modal -->
  <div class="modal" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title Fdo">Hidden<b style="color: #80BCE1">100</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
        <!-- Modal body -->
        <div class="modal-body"><br>
		<h4 class="Fhandon" style="padding: 0px; margin:0px; margin-bottom:10px;">로그인</h4>
    <form name="signin" id="signForm" method=post action="/users/auth"  style="margin:20px;">
        <div class="row"> 
                <input type="text" class="form-control" name="id" placeholder="아이디" required>

        </div>
        <br/>

        <div class="row"> 
                <input type="password" class="form-control" name="pass" placeholder="비밀번호" required>

        </div>
        <br/><br>
<div class="custom-control custom-switch row" style="margin-left:1px;">
    <input type="checkbox" class="custom-control-input" id="AdminOn" name="AdminOn">
    <label class="custom-control-label" for="AdminOn">관리자로 로그인하기</label>
</div>
        <div class="row" style="font-size:110%; margin-top:5px;"> 
                <button type="submit" class="btn btn-b form-control">로그인</button>
        </div>
    </form>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-b" data-dismiss="modal">닫기</button>
        </div>
        
      </div>
    </div>
  </div>
  

    <header>
        <nav class="fixed-top">
            <div class="row">
                <div class="col-1"><a class="link Fdo" style="font-size: 200%;" href="/">Hidden<b style="color: #80BCE1">100</b></a></div>
                <div class="col" style="padding-left: 100px;padding-top: 5px">
                    <form method="post" action="/search">
                        <select name="category" class="btn btn-b" style="width:150px; padding:9px;" >
                            <option value="all">전체</option>
                            <option value="clothes">의류/잡화</option>
                            <option value="makeup">메이크업</option>
                            <option value="digital">가전/디지털</option>
                            <option value="furniture">가구</option>
                            <option value="others">기타</option>
                        </select>
                        <input class="mr-sm-2 btn btn-b" style="width: 70%; text-align: left;" type="text" name="search" placeholder="찾고 싶은 상품을 검색하세요">&nbsp;&nbsp;
                        <button class="btn btn-b btn-outline-dark" type="submit">검색</button>&nbsp;&nbsp;
              <%if(auth==99){%>
                          <button class="btn btn-b btn-outline-dark" type="button" onclick="location.href='/mygoods'">상품등록</button>
              <%}%>

 
                    </form>

                </div>
                <div class="col-2" style="padding-top: 10px; text-align: right; padding-right: 40px;">


            <%if(auth==99){%>
                    <button style="border:0px; padding:0px;" class="btn" onClick="getNotification()"><i id="icon" class="ri-notification-line" data-toggle="modal" data-target="#notification"></i></button>
			        <a class="link" href="#" style="margin-left: 10px; font-size: 90%"><%=mem_id%> 님!</a>&nbsp;&nbsp;
                    <a class="link" href="/users/logout" style="font-size: 90%">로그아웃</a>
			<%}else{%>
                    <a class="link" href="/users/reg" style="padding-left: 20px; font-size: 90%">회원가입</a>&nbsp;&nbsp;
 		 <a data-toggle="modal" data-target="#loginModal" style="padding-left: 20px; font-size: 90%; color:#454545; border:0px;" href="#">로그인</a >


			<%}%>


                </div>
            </div>
            <div class="row" style="padding: 0px; margin: 0px; font-size:90%;">

                <div class="col-6" style="padding-left: 30px;">
                    <a class="link" href="/product/clothes">의류/잡화</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <a class="link" href="/product/makeup">메이크업</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <a class="link" href="/product/digital">가전/디지털</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <a class="link" href="/product/furniture">가구</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <a class="link" href="/product/others">기타</a>


                </div>
                                <div class="col" style="text-align: right; padding-right: 23px; font-size: 1.3em;"> 
  		<a href="/end"><i class="ri-trophy-line"></i></a> 
                <%if(auth==99){%>
                         <button type="button" class="btn btn-dropdown" data-toggle="dropdown" style="padding: 0px; margin: 0px; margin-bottom: 6px; border:0px;">
                            <i class="ri-account-box-line" ></i>
                        </button>
                        <div class="dropdown-menu">
						<h5 class="dropdown-header">중고판매</h5>
                            			<a class="dropdown-item" href="/mygoods">상품등록</a> 
                            			<a class="dropdown-item" href="/mygoods/goodslist">내 상품 조회</a> 
						<h5 class="dropdown-header">내 정보</h5> 
						<a class="dropdown-item" href="/users/profile">개인 정보 변경</a> 
						<a class="dropdown-item" href="/users/deletion">회원탈퇴</a>
						<h5 class="dropdown-header">코인</h5>
						<a class="dropdown-item" href="/coin/getCoin">코인 충전</a>
						<h5 class="dropdown-header">거래내역</h5>
						<a class="dropdown-item" href="/userdeal/applylist">응모 내역</a> 
						<a class="dropdown-item" href="/userdeal/winninglist">당첨 내역</a>
 

                        </div>
                 <a href="/coin/getCoin"><i class="ri-exchange-line" ></i></a> 

                <%}%>
                <i class="ri-information-line" data-toggle="modal" data-target="#info"></i></div>
            </div>
        </nav>
    </header>
    <!-- The Modal -->
    <div class="modal fade" id="info">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title Fdo">Hidden<b style="color: #80BCE1">100</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>100원부터 참여하는 중고거래 서비스</p>
                    <p>당첨 확률은 응모가격을 높일수록 올라갑니다!</p>
                    <p><i class="ri-wallet-line"></i> 목표 금액을 달성하면 응모한 사람 중에 랜덤으로 당첨자를 골라 물건을 전달합니다.</p>
                    <p><i class="ri-timer-line"></i> 실시간으로 남은 시간을 확인할 수 있습니다.</p>
                    <p><i class="ri-group-2-line"></i> 실시간으로 참여자 수를 확인할 수 있습니다.</p>
                    <br>
                    <p>가입 후 별도의 인증 과정 없이 상품 판매가 가능합니다.</p>
                    <p><small><i class="ri-alarm-warning-line"></i>거래 사기의 경우 판매자에게 돈을 지불하지 않고 전액 환불하여 거래 사기를 방지합니다. </small></p></div>
			<hr>
                    <div  style="padding:30px;">
			<p style="font-size:120%"><i class="ri-wallet-fill"></i>수수료 안내</p>
			<p style="padding-left:15px;">silver 등급 코인 충전 <%=profit.charge_fee_silver%>%</p>
			<p style="padding-left:15px;">gold 등급 코인 충전 <%=profit.charge_fee_gold%>%</p>
			<p style="padding-left:15px;">중고 판매시 수수료 <%=profit.fee%>원</p>
			<p style="padding-left:15px;">중고 판매 목표금액 2배 도달시 누적금의 <%=profit.great_success%>%</p></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

<!-- The Modal -->
<div class="modal fade" id="notification">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title Fdo">Notification</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="contents">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-b" data-dismiss="modal" onClick="window.location.reload()">Close</button>
            </div>
        </div>
    </div>
</div>
