<style>
.table-condensed{
        font-size: 15px;
    }
</style>
    
<br/><br/><br/>
<div class="row" style="padding-left: 60px; padding-right: 60px;">
    <div class="col-8">
        <h4 class="Fhandon">회원설정 변경</h4>
    </div>
</div>
<br/>

<div class="row" style="padding-left: 60px; padding-right: 60px;">
    <div>
        <table class="table table-hover table-condensed" id="userTable">
            <thead>
                <tr>
                    <th style="width: 110px">이름</th>
                    <th style="width: 110px">아이디</th>
                    <th style="width: 140px">비밀번호</th>
                    <th style="width: 240px">이메일</th>
                    <th style="width: 140px">전화번호</th>
                    <th style="width: 120px">생년월일</th>
                    <th style="width: 840px">도로명주소</th>
                    <th style="width: 270px">상세주소</th>
                    <th style="width: 140px">코인수</th>
                    <th style="width: 100px">등급</th>
                    <th style="width: 100px">상태</th>
                    <th style="width: 15px"></th>
                </tr>
            </thead>

            <tbody>
<% mem_info.forEach(function(item, i){ %>
            <form name="control_setting" method=post action="/admin/user_manage/control_setting">
                    <tr>
                        <td><%=item.mem_name%></td>
                        <td>
                            <%=item.mem_id%>
                            <input type="hidden" name="id" value="<%=item.mem_id%>">
                        </td>
                        <td><input type="text" name="pass" value="<%=item.mem_pass%>" style="width:80px;"></td>
                        <td><input type="email" name="email" value="<%=item.mem_email%>" style="width:160px;"></td>
                        <td><input type="text" name="phone" value="<%=item.mem_phone%>" style="width:110px;"
                            maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                        <td><%=item.mem_bday%></td>
                        <td><%=item.mem_addr1%></td>
                        <td><%=item.mem_addr2%></td>
                        <td><input type="text" name="coin" value="<%=item.coin%>" style="width:60px;"></td>
                        <td><%=item.level%></td>
                        <td><%=item.status%></td>
                        <td><input type="image" src="/img/edit-line.png" alt="변경하기" style="width: 15px;"></td>
                    </tr>
            </form>
<% }) %>
            </tbody>
        </table>
    </div>
    <br/><br/>
</div>
