<script type="text/javascript" src="/javascript/calcTime.js"></script>

<div class="row chart" style="padding-top: 40px; padding-bottom: 40px;">
    <div id="ALL_chart_div"></div>
    <div id="Today_chart_div"></div>
    <div id="User_chart_div"></div>
</div>
        
<div class="product_chart">
    <div class="row">
        <table class="table table-hover">
            <h4 class="Fhandon" style="padding-left: 20px;">상품 검색 결과</h4>
            <tbody>
<% goodslist.forEach(function(item, i){ %>
                <tr><%img='/img/goods/'+item.goo_img%>
                    <td style="text-align: center;"><img class="cropping" src=<%=img%> alt="Card image">
                        <p style="padding-top: 5px;"><%=item.goo_name%></p>
                    </td>

                    <td>
                        <p style="padding:0px; margin:0px;"><i class="ri-archive-line"></i> 상품번호 : <%=item.goo_id%></p>
                        <p style="padding:0px; margin:0px;"><i class="ri-wallet-line"></i> <%=item.goal_price%> 원 목표</p>
                        
                    <div class="row " style="padding:0px; margin: 0px;"><i class="ri-timer-line"></i>&nbsp; <p  style="padding:0px; margin:0px;" id=<%=item.goo_id%>></p></div>
                    </td>

                    <td>
                        <p style="padding:0px; margin:0px;"><i class="ri-account-box-line"></i> 판매자 : <%=item.mem_id%></p>
<%for(let i=0;i<total.length;i++){
                if(total[i].goo_id==item.goo_id){%>
                        <p style="padding:0px; margin:0px;"><i class="ri-wallet-fill"></i> <%=total[i].total%>원 적립</p>
                    <%break;} else if(i==(total.length-1)){%>
                        <p style="padding:0px; margin:0px;"><i class="ri-wallet-fill"></i> 0원 적립</p>
                <%}}%>
            <%for(let i=0;i<attend.length;i++){
                if(attend[i].id==item.goo_id){%>
                    <p style="padding:0px; margin:0px;"><i class="ri-group-2-line"></i> <%=attend[i].buyers.length%>명 참가 중</p>
                    <%break; } else if(i==(attend.length-1)){%>
                    <p style="padding:0px; margin:0px;"><i class="ri-group-2-line"></i> 0명 참가 중</p>
                <%}}%>
                    </td>

                    <td style="width: 50%; "><%=item.goo_info%></td>
                </tr>
<%})%>
            </tbody>
        </table>
    </div>
</div>
