<!--
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

<!--
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="jquery.twbsPagination.js"></script>
-->

<style>
.table-condensed{
    font-size: 15px;
}

#pagination {
  width: 100%;
  text-align: center;
}

#pagination ul li {
  display: inline;
  margin-left: 10px;
}
</style>

<br/><br/><br/>
<div class="row" style="padding-left: 60px; padding-right: 60px;">
    <div class="col-8">
        <h4 class="Fhandon">회원조회</h4>
    </div>
</div>
<br/>

<div class="row" style="padding-left: 60px; padding-right: 60px;">
    <div class="col-8">
        <p class="Fhandon3"><b style="font-size:110%;">검색 : </b><input type="text" id="keyword" class="btn" style="padding:3px;"></p>
    </div>
</div>
<br/>

<div class="row" style="padding-left: 60px; padding-right: 60px;">
    <div>
        <table class="table table-hover table-condensed" id="userTable">
            <thead>
                <tr>
                    <th style="width: 120px">이름</th>
                    <th style="width: 120px">아이디</th>
                    <th style="width: 140px">비밀번호</th>
                    <th style="width: 300px">이메일</th>
                    <th style="width: 140px">전화번호</th>
                    <th style="width: 140px">생년월일</th>
                    <th style="width: 720px">도로명주소</th>
                    <th style="width: 270px">상세주소</th>
                    <th style="width: 110px">코인수</th>
                    <th style="width: 100px">등급</th>
                    <th style="width: 100px">상태</th>
                </tr>
            </thead>

            <tbody>
<% mem_info.forEach(function(item, i){ %>
                <tr>
                    <td><%=item.mem_name%></td>
                    <td><%=item.mem_id%></td>
                    <td><%=item.mem_pass%></td>
                    <td><%=item.mem_email%></td>
                    <td><%=item.mem_phone%></td>
                    <td><%=item.mem_bday%></td>
                    <td><%=item.mem_addr1%></td>
                    <td><%=item.mem_addr2%></td>
                    <td><%=item.coin%></td>
                    <td><%=item.level%></td>
                    <td><%=item.status%></td>
                </tr>
<% }) %>
            </tbody>
        </table>
    </div>
    <br/><br/>
</div>

<div class="row">
    <div class="product_chart">
        <div id="pagination"></div>
        <!--
            <ul id="pagination" class="pagination-sm"></ul>
        -->
    </div>
</div>

<!-- 키워드 검색 -->
<script>
    $(document).ready(function(){
        $("#keyword").keyup(function(){
            var keyword = $(this).val();
            $("#userTable > tbody > tr").hide();

            var temp = $("#userTable > tbody > tr > td:nth-child(n):contains('"+keyword+"')");
            $(temp).parent().show();
        })
    })

    let rows = [];
    $('table tbody tr').each(function(i, row){
        return rows.push(row);
    });

    $('#pagination').pagination({
        dataSource: rows,
        pageSize: 50,
        callback: function(data, pagination){
            $('tbody').html(data);
        }
    })

/*
    let totalPages = rows/pageSize;
    let visibleBlock = 5;
    let pageSize = 5;
    
    if(totalPages % pageSize > 0){
        totalPages++;
    }

    function paging(page){
        var startRow = (page-1) * pageSize;
        var endRow = page * pageSize;

        if(endRow > rows){
            endRow = rows;
        }

        var startPage = ((page-1)/visibleBlock) * visibleBlock + 1;
        var endPage = startPage + visibleBlock - 1;

        if(endPage > totalPages){
            endPage = totalPages;
        }
    }

    $('#pagination').twbsPagination({
        totalPages: totalPages,
        visiblePages: visibleBlock,
        first: '<<',
        prev: '<',
        next: '>',
        last: '>>',
        onPageClick: function(event, page){
            paging(page);
        }
    });
*/
</script>
