<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

<style>
.table-condensed{
    font-size: 15px;
}

#pagination {
  width: 100%;
  text-align: center;
}

#pagination ul li {
  display: inline;
  margin-left: 10px;
}
</style>

<br/><br/><br/>
<div class="row" style="padding-left: 60px; padding-right: 60px;">
    <div class="col-8">
        <h4 class="Fhandon">신고회원 조회</h4>

    </div>
</div>
<br/>

<div class="row" style="padding-left: 60px; padding-right: 60px;">
    <div class="col-8">
        <p class="Fhandon3"><b style="font-size:110%;">검색 : </b><input type="text" id="keyword" class="btn" style="padding:3px;"></p>
    </div>
</div>
<br/>

<div class="row" style="padding-left: 60px; padding-right: 60px;">
    <div>
        <table class="table table-hover table-condensed" id="userTable">
            <thead>
                <tr>
                    <th style="width: 250px">번호</th>
                    <th style="width: 600px">제목</th>
                    <th style="width: 250px">신고자</th>
                    <th style="width: 250px">작성일</th>
                </tr>
            </thead>

            <tbody>
<% 
    let i = reports.length
%> 
<% reports.forEach(function(report, index){%>
                <tr>
                    <td><%=i%></td>
                    <td>
                        <a href="/admin/user_manage/report/content?num=<%=report.num%>&item=<%report.goo_id%>">
                            <%=report.subject%>
                        </a>
                    </td>
                    <td><%=report.mem_name%>&nbsp(<%=report.mem_id%>)</td>
                    <td><%=datetime[index].year+datetime[index].month+datetime[index].day+datetime[index].time%></td>
                </tr>
<% i -= 1 %>                
<% }) %>
            </tbody>
        </table>
    </div>
    <br/><br/>
</div>

<div class="row">
    <div class="product_chart">
        <div id="pagination"></div>
    </div>
</div>

<!-- 키워드 검색 -->
<script>
    $(document).ready(function(){
        $("#keyword").keyup(function(){
            var keyword = $(this).val();
            $("#userTable > tbody > tr").hide();

            var temp = $("#userTable > tbody > tr > td:nth-child(n):contains('"+keyword+"')");
            $(temp).parent().show();
        })
    })

    let rows = [];
    $('table tbody tr').each(function(i, row){
        return rows.push(row);
    });

    $('#pagination').pagination({
        dataSource: rows,
        pageSize: 50,
        callback: function(data, pagination){
            $('tbody').html(data);
        }
    })
</script>
