<script type="text/javascript" src="/javascript/calcTime.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
 
      google.charts.load("current", {packages:["corechart"]});
	<% applylist.forEach(function(item, i){
	var chart='chart'+i;
	var chartid=chart+'Draw';
 	var temp=total[i].total-item.total;
	if(temp<0){ temp=0;}
 %>
      google.charts.setOnLoadCallback(<%=chartid%>);
      function <%=chartid%>() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['당첨확률',     <%=item.total%>],
          ['실패확률',    <%=temp%>],
        ]);

        var options = {
	'title':'목표금액 적립시 당첨확률',
	  'chartArea': {'width': '100%', 'height': '70%'},
          pieHole: 0.4,
	backgroundColor: { fill:'transparent' },
   	colors: ['88BCE1', 'cccccc'], 
                fontName: 'Handon3gyeopsal300g',
                fontSize: 14,
           pieSliceTextStyle: {
            color: 'black',
          }

        };

        var chart = new google.visualization.PieChart(document.getElementById('<%=chart%>'));
        chart.draw(data, options);
      }
	<%})%>
    </script>
 
   <div class="product_chart" style="padding-top:60px;">
        <div class="row">
            <table class="table table-hover">
                <h4 class="Fhandon" style="padding-left: 20px;">응모내역</h4>
                <tbody>
	<% applylist.forEach(function(item, i){ %>
                    <tr><%img='/img/goods/'+item.goo_img%>
                        <td style="text-align: center;"><img class="cropping" src=<%=img%> alt="Card image">
           		 <p style="padding-top: 5px;"><%=item.goo_name%></p>
                        </td>
                        <td style="width:33%;">

                           <p style="padding:0px; margin:0px;"><i class="ri-archive-line"></i> 상품번호 : <%=item.goo_id%></p>
 
                          <p style="padding:0px; margin:0px;"><i class="ri-wallet-fill"></i> 응모액 : <%=item.total%>원</p>
                 <p id=<%=item.goo_id%>></p>
                <%if(item.status=='active'){%>
                    <p>진행중입니다.</p>
                <%} else if(item.status=='win'){%>
                    <p>당첨되셨습니다.</p>
                <%} else if(item.status2=='finish'){%>
                    <p>꽝 입니다.</p>
                <%}%>
			</td>
			<%var chartid='chart'+i;%>
			<td style="width: 450px; "><div id="<%=chartid%>" style="width: 350px; height: 180px;"></div>
			</td>

 
                    </tr>
 
 
 	<%})%>
                </tbody>
            </table>
        </div>
    </div>
	

  