 
    <div class="product_chart" style="padding-top:60px;">
        <div class="row">
            <table class="table table-hover">
                <h4 class="Fhandon" style="padding-left: 20px;">당첨내역</h4>
                <tbody>
	<% winninglist.forEach(function(item, i){ %>
                    <tr><%img='/img/goods/'+item.goo_img%>
                        <td style="text-align: center;"><img class="cropping" src=<%=img%> alt="Card image">
           		 <p style="padding-top: 5px;"><%=item.goo_name%></p>
                        </td>
                        <td style="width:40%;">

                           <p style="padding:0px; margin:0px;"><i class="ri-archive-line"></i> 상품번호 : <%=item.goo_id%></p>
 
                          <p style="padding:0px; margin:0px;"><i class="ri-wallet-fill"></i> 응모액 : <%=item.invest_coin%>원</p>
 		        <%if(item.shipment==null){%>
	                <p style="padding:0px; margin:0px;">판매자가 아직 배송 정보를 입력하지 않았습니다.</p>
		        <%}else{%>
	                <p style="padding:0px; margin:0px;"><%=item.shipment%></p>
		        <%}%>


			</td>
<td>
<br>
  <button type="button" class="btn" onclick="location.href='/userdeal/report?item=<%=item.goo_id%>'">신고하기</button>

</td>
                    </tr>
 
 
 	<%})%>
                </tbody>
            </table>
        </div>
    </div>
	

  